@import 'variables';
@import 'mixins';

.about-cont {
  @include flex-type(center, center, column);
  background-color: #cdcdcd;
  padding: 20px;

  h2 {
    font-size: 3rem;
    font-weight: 800;
    padding: 20px;
    letter-spacing: 5px;
  }

  @include respond-to('md') {
    align-items: flex-end;
    padding: 20px 50px;
  }

  .content {
    @include respond-to('sm') {
      @include flex-type(center, center);
    }

    & > * {
      padding: 20px;

      @include respond-to('md') {
        padding: 20px 40px;
      }
    }
  }

  .img {
    @include flex-type(center, center);

    @include respond-to('md') {
      flex: 0 0 33%;
    }

    img {
      max-width: 300px;
    }
  }

  .basic-info > * {
    margin: 20px 0;
  }

  .name-title {
    @include flex-type(center, center, column);
    margin-top: 0;

    @include respond-to('md') {
      align-items: flex-start;
    }

    * {
      display: block;
      font-style: italic;
      text-align: center;
    }
  }

  .name {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.5rem;
  }

  .social {
    &.linkedin {
      &:active,
      &:focus,
      &:hover {
        svg {
          box-shadow: 0 0 5px rgba(0,0,0,0.3);
          color: #0077b5;
        }
      }
    }
  }

  .contact-loc {
    @include flex-type(space-between, center);
    background-color: #ddd;
    margin: 10px 0px;
    padding: 10px;

    @include respond-to('sm') {
      flex-direction: column;
    }

    @include respond-to('md') {
      max-width: 370px;
    }

    .social-icons {
      @include flex-type('', center);

      @include respond-to('sm') {
        width: unset;
      }

      & > * {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    a {
      @include flex-type(center, center);
    }
  }

  .city-state,
  .email {
    font-size: 0.8rem;
  }

  .overview {
    padding: 0 20px;

    @include respond-to('md') {
      padding: 0 40px;
    }

    p {
      font-size: 0.8rem;
    }
  }
}