@import 'variables';
@import 'mixins';

.about-cont {
  @include flex-type(center, center, column);
  background-color: #cdcdcd;
  padding: 20px 50px;

  h2 {
    font-size: 3rem;
    font-weight: 800;
    padding: 20px;
    letter-spacing: 5px;
  }

  @include respond-to('md') {
    align-items: flex-end;
  }

  .content {

    @include respond-to('md') {
      @include flex-type(center, center);
    }

    & > * {
      padding: 20px;

      @include respond-to('md') {
        padding: 20px 40px;
      }
    }
  }

  .img {
    @include flex-type(center, center);

    @include respond-to('md') {
      flex: 0 0 33%;
    }
  }

  .text > * {
    margin: 20px 0;
  }

  .name-title {
    @include flex-type(center, center, column);

    @include respond-to('md') {
      align-items: flex-start;
      margin-top: 0;
    }

    * {
      display: block;
      font-style: italic;
      text-align: center;
    }
  }

  .name {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.5rem;
  }

  .social {
    &.linkedin {
      &:active,
      &:focus,
      &:hover {
        svg {
          box-shadow: 0 0 5px rgba(0,0,0,0.3);
          color: #0077b5;
        }
      }
    }
  }

  .contact-loc {
    @include flex-type(space-between, center);
    background-color: #ddd;
    margin: 10px -10px;
    padding: 10px;

    @include respond-to('md') {
      max-width: 370px;
      margin: 10px 0;
    }

    a {
      @include flex-type(center, center);
    }

    span {
      font-size: 0.8rem;
    }
  }

  .overview p {
    font-size: 0.8rem;
  }
}