@import 'variables';
@import 'mixins';

.main-nav-container {
  // height: 72px;

  .app-bar {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
                0px 4px 5px 0px rgba(0,0,0,0.14),
                0px 1px 10px 0px rgba(255,255,255,0.12);
  }

  .nav-links {
    @include flex-type(center, center);
    min-width: 100%;

    a {
      text-align: center;
      padding: 10px;
      font-size: 0.8rem;

      &:hover {
        background: rgba(255,255,255,0.15);
      }

      @include respond-to('sm') {
        font-size: inherit;
        padding: 20px;
      }
    }
  }
}