@import 'variables';
@import 'mixins';

/** NOTE: Because this jumbotron has a set 100vh and 100vw, we have additional media queries below to handle
          the verious size devices and use cases for adjustments. We have to check for viewport aspect ratios as well. */

.jumbotron {
  @include flex-type(center, '', column);
  background-color: #0e0e0e;
  background: radial-gradient(ellipse at 60% 48%, rgba(255, 255, 255, 0.07) 0%, rgba(14, 14, 14, 0) 60%);
  height: calc(100vh - 72px); // NOTE: 72px comes from the material-ui height for .makeStyles-container-1 (appbar)
  overflow: hidden;

  @-moz-document url-prefix() {
    // firefox does not support dithering on gradients which causes banding so we just remove the radial gradient.
    // Instead, we use a glow added to the img tag below.
    background: unset;
  }

  @media (min-aspect-ratio: 3/2) {
    flex-direction: row;
  }

  .MuiTypography-root {
    @include flex-type(center, center, column);
    color: #fff;
    flex-basis: 100%;
    text-align: center;

    @media (min-aspect-ratio: 3/2) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 40%;
    }

    @media (min-aspect-ratio: 3/2) {
      align-items: flex-end;
    }

    .name {
      font-size: 4rem;
      font-weight: 200;
      line-height: 1;
      padding: 0 20px;

      @media (min-aspect-ratio: 3/2) {
        font-size: 5rem;
      }

      @media (min-aspect-ratio: 3/2) and (max-width: 1280px) {
        font-size: 4rem;
      }

      @media (min-aspect-ratio: 3/2) and (max-width: 1024px) {
        font-size: 2.5rem;
      }

    }

    .title {
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 500;

      @media (min-aspect-ratio: 3/2) {
        font-size: 1rem;
        padding-right: 30px;
      }

      @media (min-aspect-ratio: 3/2) and (min-width: 1024px) {
        font-size: 1.6rem;
        padding-right: 40px;
      }
    }
  }

  .img {
    @include flex-type(flex-end, flex-start, column);

    img {
      max-height: 100%;

      @-moz-document url-prefix() {
        // We use this glow around edge of png in place of radial gradient above.
        -webkit-filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.1));
        filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.1));
      }

      // Portrait but almost square
      @media (min-aspect-ratio: 9/10) and (max-aspect-ratio: 960/641) {
        max-width: 80%;
        margin: 0 10%;
      }

      @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 960/641) {
        max-width: 50%;
        margin: 0 25%;
      }
    }
  }
}