@import 'variables';

.jumbotron {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0e0e0e;
  background: radial-gradient(ellipse at 60% 48%, rgba(255, 255, 255, 0.07) 0%, rgba(14, 14, 14, 0) 60%);
  height: calc(100vh - 72px); // NOTE: 72px comes from the material-ui height for .makeStyles-container-1 (appbar)

  @-moz-document url-prefix() {
    background: unset; // firefox does not support dithering on gradients which causes banding so we just remove the radial gradient.
  }

  @media (min-aspect-ratio: 3/2) {
    flex-direction: row;
  }

  .MuiTypography-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-basis: 100%;
    text-align: center;

    @media (min-aspect-ratio: 3/2) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 40%;
    }

    // @include respond-to('sm') {
    //   // height: 100%;
    //   // padding-right: 10%;
    //   // margin-top: 50px;
    // }

    .name {
      font-size: 4rem;
      font-weight: 200;
      // min-width: 100%;
      // text-align: right;
      line-height: 1;
      padding: 0 20px;

      @media (min-aspect-ratio: 3/2) and (max-width: 1280px) {
        font-size: 3rem;
      }

      // @include respond-to('xl') {
      //   margin-top: -20%;
      //   font-size: 6rem;
      // }
    }

    .title {
      font-size: 1.5rem;
      // min-width: 100%;
      // text-align: right;
      line-height: 1;
      font-weight: 500;

      @media (min-aspect-ratio: 3/2) { //} and (max-height: 500px) {
        font-size: 1rem;
      }
      // @include respond-to('xl') {
      //   font-size: 2rem;
      // }
    }
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    img {
      max-height: 100%;
      // width: unset;

      // Portrait but almost square
      @media (min-aspect-ratio: 9/10) and (max-aspect-ratio: 3/2) { //and (max-aspect-ratio: 3/2.1) {
        max-width: 80%;
        margin: 0 10%;
      //   width: calc((5 /14 * 100vh) - 800%/7); //min(150%, max(100%, calc((5 /14 * 100vh) - 800%/7)));
      }
    }
  }

  

}