.jumbotron {
  display: flex;
  justify-content: center;
  background-color: #0e0e0e;
  background: radial-gradient(ellipse at 60% 48%, rgba(255, 255, 255, 0.07) 0%, rgba(14, 14, 14, 0) 60%);
  height: 100vh;

  & > * {
    flex: 0 0 50%;
  }

  .MuiTypography-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    padding-right: 10%;

    .name {
      font-size: 6rem;
      font-weight: 200;
      min-width: 100%;
      text-align: right;
      line-height: 1;
      margin-top: -20%;
    }

    .title {
      font-size: 2rem;
      min-width: 100%;
      text-align: right;
      line-height: 1;
      font-weight: 500;
    }
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    img {

    }
  }
}