@mixin respond-to($breakpoint, $upToBreakpoint: '') {
  // If the key exists in the map
  @if map-has-key($wBreakpoints, $breakpoint) {

    // $mq: "(min-width: " + map-get($wBreakpoints, $breakpoint) + ")";
    @if (map-has-key($wBreakpoints, $upToBreakpoint)) {
      // $mq: $mq + " and (max-width: " + calc(map-get($wBreakpoints, $upToBreakpoint) - 1) + ")";

      // Prints a media query based on the value
      @media (min-width: map-get($wBreakpoints, $breakpoint)) and (max-width: (map-get($wBreakpoints, $upToBreakpoint) - 1)) {
        @content;
      }
    }
    @else {
      // Prints a media query based on the value
      @media (min-width: map-get($wBreakpoints, $breakpoint)) {
        @content;
      }
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available wBreakpoints are: #{map-keys($wBreakpoints)}.";
  }
}

@mixin flex-type($hAlign: '', $vAlign: '', $dir: row, $wrap: false) {
  display: flex;

  @if ($hAlign != '') {
    justify-content: $hAlign;
  }

  @if ($vAlign != '') {
    align-items: $vAlign;
  }

  @if ($dir != row) {
    flex-direction: $dir;
  }

  @if ($wrap == true) {
    flex-wrap: wrap;
  }
}